@use "sass:math";
@use "../variables" as *;
@use "../mixins" as *;

.product-card {
	display: flex;
	flex-direction: column;
	gap: rem(12);

	@media (min-width: $md6) {
		gap: rem(10);
	}

	@media (min-width: $md3) {
		gap: rem(14);
	}

	@media (min-width: $md2) {
		gap: rem(16);
	}

	@media (min-width: $md1) {
		gap: rem(20);
	}

	// product-card__media
	&__media {
		position: relative;
		width: 100%;
		aspect-ratio: 322 / 214;
		overflow: hidden;
		background-color: $color-placeholder;

		@media (min-width: $md6) {
			aspect-ratio: 204 / 136;
		}

		@media (min-width: $md5) {
			aspect-ratio: 244 / 163;
		}

		@media (min-width: $md4) {
			aspect-ratio: 264 / 176;
		}

		@media (min-width: $md3) {
			aspect-ratio: 344 / 229;
		}

		@media (min-width: $md2) {
			aspect-ratio: 440 / 293;
		}

		@media (min-width: $md1) {
			aspect-ratio: 622 / 414;
		}
	}

	// product-card__img
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center bottom;
	}

	// product-card__title
	&__title {
		font-family: $font-family;
		font-weight: 500;
		font-size: rem(18);
		line-height: math.div(20, 18);
		color: $color-black;

		@media (min-width: $md3) {
			font-size: rem(24);
			line-height: math.div(26, 24);
		}

		@media (min-width: $md2) {
			font-size: rem(28);
			line-height: math.div(30, 28);
		}

		@media (min-width: $md1) {
			font-size: rem(36);
			line-height: math.div(38, 36);
		}
	}
}

.news-card {
	display: flex;
	flex-direction: column;
	min-height: rem(162);

	@media (min-width: $md6) {
		min-height: rem(155);
	}

	@media (min-width: $md5) {
		min-height: rem(177);
	}

	@media (min-width: $md4) {
		min-height: rem(188);
	}

	@media (min-width: $md3) {
		min-height: rem(237);
	}

	@media (min-width: $md2) {
		min-height: rem(309);
	}

	@media (min-width: $md1) {
		min-height: rem(445);
	}

	// news-card__link
	&__link {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		color: inherit;
	}

	// news-card__media
	&__media {
		width: 100%;
		height: rem(113);
		overflow: hidden;
		background-color: $color-placeholder;

		@media (min-width: $md6) {
			height: rem(104);
		}

		@media (min-width: $md5) {
			height: rem(126);
		}

		@media (min-width: $md4) {
			height: rem(137);
		}

		@media (min-width: $md3) {
			height: rem(180);
		}

		@media (min-width: $md2) {
			height: rem(230);
		}

		@media (min-width: $md1) {
			height: rem(328);
		}
	}

	// news-card__img
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	// news-card__date
	&__date {
		margin-top: rem(10);
		font-family: $font-family;
		font-weight: 700;
		font-size: rem(15);
		line-height: math.div(18, 15);
		color: $color-black;

		@media (min-width: $md3) {
			font-size: rem(18);
			line-height: math.div(21, 18);
		}

		@media (min-width: $md2) {
			margin-top: rem(15);
			font-size: rem(21);
			line-height: math.div(24, 21);
		}

		@media (min-width: $md1) {
			margin-top: rem(20);
			font-size: rem(26);
			line-height: math.div(32, 26);
		}
	}

	// news-card__title
	&__title {
		margin-top: rem(3);
		font-family: $font-family;
		font-weight: 700;
		font-size: rem(16);
		line-height: math.div(18, 16);
		color: $color-black;

		@media (min-width: $md5) {
			margin-top: rem(8);
			font-size: rem(18);
			line-height: math.div(14, 18);
		}

		@media (min-width: $md3) {
			margin-top: rem(10);
			font-size: rem(24);
			line-height: math.div(16, 24);
		}

		@media (min-width: $md2) {
			font-size: rem(28);
			line-height: math.div(30, 28);
		}

		@media (min-width: $md1) {
			margin-top: rem(14);
			font-size: rem(36);
			line-height: math.div(34, 36);
		}
	}
}

.vacancy-card {
	display: flex;
	flex-direction: column;
	gap: rem(6);

	@media (min-width: $md6) {
		gap: rem(10);
	}

	@media (min-width: $md3) {
		gap: rem(10);
	}

	@media (min-width: $md2) {
		gap: rem(16);
	}

	@media (min-width: $md1) {
		gap: rem(24);
	}

	@media (any-hover: hover) {
		&:hover {
			.vacancy-card__title {
				color: $color-white;
			}
		}
	}

	// vacancy-card__title
	&__title {
		color: $color-black;
		transition: color 0.1s ease-in-out;

		@media (max-width:$md6) {
			font-size: rem(18);
			line-height: math.div(20, 18);
		}
	}

	// vacancy-card__dept
	&__dept {
		color: $color-white;
	}
}