@use "../variables" as *;
@use "../mixins" as *;

.feature-list {
	display: flex;
	gap: rem(11);
	align-items: flex-start;

	@media (min-width: $md3) {
		gap: rem(13);
	}

	@media (min-width: $md2) {
		gap: rem(15);
	}

	@media (min-width: $md1) {
		gap: rem(19);
	}

	// feature-list__markers
	&__markers {
		position: relative;
		flex: 0 0 rem(56);
		width: rem(56);
		align-self: stretch;
		min-height: rem(121);

		@media (min-width: $md3) {
			flex-basis: rem(63);
			width: rem(63);
			min-height: rem(146);
		}

		@media (min-width: $md2) {
			flex-basis: rem(73);
			width: rem(73);
			min-height: rem(143);
		}

		@media (min-width: $md1) {
			flex-basis: rem(94);
			width: rem(94);
			min-height: rem(271);
		}
	}

	// feature-list__marker
	&__marker {
		position: absolute;
		right: 0;
		width: rem(11);
		height: rem(11);
		background-color: $color-black;

		@media (min-width: $md3) {
			width: rem(13);
			height: rem(13);
		}

		@media (min-width: $md2) {
			width: rem(15);
			height: rem(15);
		}

		@media (min-width: $md1) {
			width: rem(19);
			height: rem(19);
		}

		// feature-list--1
		&--1 {
			top: rem(2);

			@media (min-width: $md1) {
				top: rem(4);
			}
		}

		// feature-list--2
		&--2 {
			top: rem(56);

			@media (min-width: $md3) {
				top: rem(67);
			}

			@media (min-width: $md2) {
				top: rem(54);
			}

			@media (min-width: $md1) {
				top: rem(74);
			}
		}

		// feature-list--3
		&--3 {
			top: rem(110);

			@media (min-width: $md3) {
				top: rem(132);
			}

			@media (min-width: $md2) {
				top: rem(128);
			}

			@media (min-width: $md1) {
				top: rem(173);
			}
		}
	}

	// feature-list__body
	&__body {
		flex: 1 1 auto;
		min-width: 0;
		font-family: $font-family;
		font-weight: 400;
		font-size: rem(14);
		line-height: rem(16);
		color: $color-black;

		@media (min-width: $md3) {
			font-size: rem(17);
			line-height: rem(19);
		}

		@media (min-width: $md2) {
			font-size: rem(20);
			line-height: rem(22);
		}

		@media (min-width: $md1) {
			font-size: rem(27);
			line-height: rem(29);
		}

		p + p {
			margin-top: rem(6);

			@media (min-width: $md3) {
				margin-top: rem(8);
			}

			@media (min-width: $md1) {
				margin-top: rem(12);
			}
		}
	}
}

.contact-list {
	// uses grid.scss .row
	--gutter-x: rem(11);
	--gutter-y: rem(0);
	font-family: $font-family;
	font-size: rem(15);
	line-height: rem(18);
	color: $color-black;

	@media (min-width: $md3) {
		--gutter-x: rem(13);
		font-size: rem(18);
		line-height: rem(21);
	}

	@media (min-width: $md2) {
		--gutter-x: rem(15);
		font-size: rem(21);
		line-height: rem(24);
	}

	@media (min-width: $md1) {
		--gutter-x: rem(19);
		font-size: rem(26);
		line-height: rem(32);
	}

	// contact-list__labels
	&__labels {
		font-weight: 700;
		min-width: rem(42);

		@media (min-width: $md3) {
			min-width: rem(50);
		}

		@media (min-width: $md2) {
			min-width: rem(59);
		}

		@media (min-width: $md1) {
			min-width: rem(74);
		}
	}

	// contact-list__markers
	&__markers {
		position: relative;
		width: rem(11);
		align-self: stretch;
		min-height: rem(167);

		@media (min-width: $md3) {
			width: rem(13);
			min-height: rem(147);
		}

		@media (min-width: $md2) {
			width: rem(15);
			min-height: rem(164);
		}

		@media (min-width: $md1) {
			width: rem(19);
			min-height: rem(220);
		}
	}

	// contact-list__marker
	&__marker {
		position: absolute;
		left: 0;
		width: rem(11);
		background-color: $color-black;

		@media (min-width: $md3) {
			width: rem(13);
		}

		@media (min-width: $md2) {
			width: rem(15);
		}

		@media (min-width: $md1) {
			width: rem(19);
		}

		// contact-list--mail
		&--mail {
			top: rem(30);
			height: rem(29);

			@media (min-width: $md3) {
				top: rem(4);
				height: rem(34);
			}

			@media (min-width: $md2) {
				height: rem(39);
			}

			@media (min-width: $md1) {
				top: rem(6);
				height: rem(51);
			}
		}

		// contact-list--tel
		&--tel {
			top: rem(66);
			height: rem(11);

			@media (min-width: $md3) {
				top: rem(46);
				height: rem(13);
			}

			@media (min-width: $md2) {
				top: rem(52);
				height: rem(15);
			}

			@media (min-width: $md1) {
				top: rem(70);
				height: rem(19);
			}
		}

		// contact-list--add
		&--add {
			top: rem(84);
			height: rem(65);

			@media (min-width: $md3) {
				top: rem(68);
				height: rem(54);
			}

			@media (min-width: $md2) {
				top: rem(78);
				height: rem(62);
			}

			@media (min-width: $md1) {
				top: rem(102);
				height: rem(83);
			}
		}

		// contact-list--cin
		&--cin {
			top: rem(156);
			height: rem(11);

			@media (min-width: $md3) {
				top: rem(130);
				height: rem(13);
			}

			@media (min-width: $md2) {
				top: rem(149);
				height: rem(15);
			}

			@media (min-width: $md1) {
				top: rem(198);
				height: rem(19);
			}
		}
	}

	// contact-list__values
	&__values {
		font-weight: 400;
		min-width: 0;
	}
}
