@use "sass:math";
@use "../variables" as *;
@use "../mixins" as *;
@use "../_typography" as *;

.link-more {
	@extend .text-block;
	position: relative;
	display: inline-block;


	>span {
		transition: opacity $nav-link-hover-motion;
	}

	&::before {
		content: attr(data-title);
		position: absolute;
		left: 0;
		top: 0;
		font-family: $font-reduct;
		opacity: 0;
		pointer-events: none;
		transition: opacity $nav-link-hover-motion;
	}

	&::after {
		content: ' →';
		font-family: $font-title;
		margin-left: 0.25em;
	}

	@media (any-hover: hover) {
		&:hover {
			>span {
				opacity: 0;
			}

			&::before {
				opacity: 1;
			}
		}
	}
}