@use "sass:math";
@use "../variables" as *;
@use "../mixins" as *;

.page-hero {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	max-height: 100dvh;
	color: $color-white;
	background: $color-text-muted;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: rem(20);

	@media (max-width:$md6) {
		aspect-ratio: 430 / 380;
		padding-top: rem(20);
		padding-bottom: rem(16);
	}

	@media (min-width: $md6) {
		padding-top: rem(88);
		padding-bottom: rem(24);
		min-height: rem(620);
	}

	@media (min-width: $md5) {
		padding-bottom: rem(32);
		min-height: rem(624);
	}

	@media (min-width:$md4) {
		padding-bottom: rem(36);
	}

	@media (min-width: $md3) {
		padding-top: rem(80);
		padding-bottom: rem(60);
		min-height: rem(814);
	}

	@media (min-width: $md1) {
		min-height: rem(1100);
		aspect-ratio: 2560 / 1100;
		padding-top: rem(118);
		padding-bottom: rem(90);
	}


	// page-hero__inner
	&__inner {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		width: 100%;
		min-height: 0;
	}

	// page-hero__tagline
	&__tagline {
		max-width: rem(322);
		font-family: $font-family;
		font-weight: 700;
		font-size: rem(14);
		line-height: math.div(19, 14);
		color: $color-white;

		@media (min-width: $md6) {
			align-self: flex-end;
			max-width: 50%;
			font-size: rem(14);
			line-height: math.div(19, 14);
			padding-left: 0.75rem;
		}

		@media (min-width: $md5) {
			font-size: rem(17);
			line-height: math.div(21, 17);
		}

		@media (min-width:$md4) {
			font-size: rem(18);
			line-height: math.div(24, 18);
		}

		@media (min-width: $md3) {
			font-size: rem(24);
			line-height: math.div(30, 24);
		}

		@media (min-width: $md2) {
			font-size: rem(30);
			line-height: math.div(38, 30);
		}

		@media (min-width: $md1) {
			max-width: rem(945);
			font-size: rem(42);
			line-height: math.div(50, 42);
			padding-left: 0;
		}
	}

	// page-hero__title
	&__title {
		margin-top: auto;
		padding-top: rem(80);
		font-family: $font-family;
		font-weight: 400;
		font-size: rem(52);
		line-height: math.div(52, 52);
		color: $color-white;
		margin-left: em(-12, 298);

		@media (min-width: $md6) {
			padding-top: rem(120);
			font-size: rem(110);
			line-height: math.div(110, 140);
		}

		@media (min-width: $md4) {
			font-size: rem(140);
			line-height: math.div(120, 160);
		}

		@media (min-width: $md3) {
			font-size: rem(180);
			line-height: math.div(130, 180);

		}

		@media (min-width: $md2) {
			font-size: rem(220);
			line-height: math.div(160, 220);
		}

		@media (min-width: $md1) {
			padding-top: rem(160);
			font-size: rem(298);
		}
	}
}