@use "sass:math";
@use "../variables" as *;
@use "../mixins" as *;

:root {
	--sticky-navbar-offset: 0;

	&:has(.sticky-navbar[data-variant="breadcrumbs"]) {
		--sticky-navbar-offset: #{rem(73)};

		@media (min-width: $md6) {
			--sticky-navbar-offset: #{rem(83)};
		}

		@media (min-width: $md1) {
			--sticky-navbar-offset: #{rem(130)};
		}
	}
}

.main {

	section[id],
	.products-lines__col[id] {
		scroll-margin-top: var(--sticky-navbar-offset);
	}
}


.sticky-navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	box-sizing: border-box;
	background-color: transparent;
	padding-left: var(--sidebar-width);
	width: 100%;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
	display: none;

	@media (min-width: $md6) {
		display: block;
	}

	&.is-scrolled {
		background-color: $color-white;
	}


	// nav variant
	&[data-variant="nav"] {
		display: none;
		padding-top: rem(0);

		@media (min-width: $md6) {

			padding-block: rem(15);
		}

		@media (min-width: $md5) {
			padding-block: rem(18);
		}

		@media (min-width: $md4) {
			padding-block: rem(20);
		}

		@media (min-width: $md1) {
			padding-block: rem(28);
		}

		.sticky-navbar__inner {
			align-items: flex-start;
		}

		.sticky-navbar__nav {
			flex: 1 1 auto;
			min-width: 0;
		}
	}

	// breadcrumbs variant 
	&[data-variant="breadcrumbs"] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding-left: 0;


		@media (min-width: $md6) {

			padding-top: rem(14);
			padding-bottom: rem(30);
		}

		@media (min-width: $md5) {
			padding-top: rem(18);
			padding-bottom: rem(50);
		}

		@media (min-width: $md3) {
			padding-top: rem(18);
			padding-bottom: rem(58);
		}

		@media (min-width: $md2) {
			padding-top: rem(18);
			padding-bottom: rem(66);
		}

		@media (min-width: $md1) {
			padding-top: rem(24);
			padding-bottom: rem(87);
		}

		.sticky-navbar__inner {
			align-items: center;
		}

		.lang-switcher {
			color: $color-white;
		}

		&.is-scrolled {
			background-color: transparent;
		}
	}

	// .sticky-navbar__inner
	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: rem(24);
	}

	// .sticky-navbar__lang
	&__lang {
		flex: 0 0 auto;
	}


	// .sticky-navbar__nav-list
	&__nav-list {
		display: flex;
		gap: rem(70);

		@media (min-width: $md2) {
			gap: rem(76);
		}
	}

	// .sticky-navbar__nav-item
	&__nav-item {
		flex: 1 1 0;
	}

	// .sticky-navbar__nav-link
	&__nav-link {
		font-family: $font-robert;
		font-weight: 500;
		font-size: rem(15);
		line-height: math.div(13, 15);
		color: $color-black;
		transition: color 100ms ease-in-out;

		@media (min-width: $md3) {
			font-size: rem(18);
			line-height: math.div(14, 18);
		}

		@media (min-width: $md2) {
			font-size: rem(21);
			line-height: math.div(15, 21);
		}

		@media (min-width: $md1) {
			font-size: rem(25);
			line-height: math.div(19, 25);
		}

		&.is-active {
			color: #58595b;
		}

		@media (any-hover: hover) {
			&:hover {
				color: #58595B;
			}
		}
	}

	// .sticky-navbar__breadcrumbs
	&__breadcrumbs {
		flex: 1 1 auto;
		min-width: 0;
		font-family: $font-robert;
		font-weight: 500;
		font-size: rem(15);
		line-height: math.div(13, 15);
		color: $color-white;

		@media (min-width: $md5) {
			font-size: rem(18);
			line-height: math.div(14, 18);
		}

		@media (min-width: $md2) {
			font-size: rem(21);
			line-height: math.div(15, 21);
		}

		@media (min-width: $md1) {
			font-size: rem(26);
			line-height: math.div(19, 26);
		}

		.breadcrumbs__list {
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
		}

		.breadcrumbs__sep {
			white-space: pre;
		}

		.breadcrumbs__link {
			color: inherit;
			transition: color 100ms ease-in-out;

			@media (any-hover: hover) {
				&:hover {
					color: $color-black;
				}
			}
		}

		.breadcrumbs__current {
			color: inherit;
		}
	}

	&.is-scrolled[data-variant="nav"] {
		.sticky-navbar__nav-link {
			color: $color-black;

			@media (any-hover: hover) {
				&:hover {
					color: #58595b;
				}
			}
		}
	}
}