@use "sass:math";
@use "../variables" as *;
@use "../mixins" as *;

:root {
	--sticky-navbar-offset: 0;
}

.main {

	section[id],
	.products-lines__col[id] {
		scroll-margin-top: var(--sticky-navbar-offset);
	}
}


.sticky-navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	box-sizing: border-box;
	background-color: transparent;
	padding-left: var(--sidebar-width);
	width: 100%;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

	&.is-scrolled {
		background-color: $color-white;
	}

	// .sticky-navbar__inner
	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: rem(24);
	}

	// .sticky-navbar__lang
	&__lang {
		flex: 0 0 auto;
	}

	// nav variant
	&[data-variant="nav"] {
		display: none;
		padding-top: rem(0);

		@media (min-width: $md6) {
			display: block;
			padding-block: rem(15);
		}

		@media (min-width: $md5) {
			padding-block: rem(18);
		}

		@media (min-width: $md4) {
			padding-block: rem(20);
		}

		@media (min-width: $md1) {
			padding-block: rem(28);
		}

		.sticky-navbar__inner {
			align-items: flex-start;
		}

		.sticky-navbar__nav {
			flex: 1 1 auto;
			min-width: 0;
		}
	}

	// .sticky-navbar__nav-list
	&__nav-list {
		display: flex;
		gap: rem(70);

		@media (min-width: $md2) {
			gap: rem(76);
		}
	}

	// .sticky-navbar__nav-item
	&__nav-item {
		flex: 1 1 0;
	}

	// .sticky-navbar__nav-link
	&__nav-link {
		font-family: $font-robert;
		font-weight: 500;
		font-size: rem(15);
		line-height: math.div(13, 15);
		color: $color-black;
		transition: color 100ms ease-in-out;

		@media (min-width: $md3) {
			font-size: rem(18);
			line-height: math.div(14, 18);
		}

		@media (min-width: $md2) {
			font-size: rem(21);
			line-height: math.div(15, 21);
		}

		@media (min-width: $md1) {
			font-size: rem(25);
			line-height: math.div(19, 25);
		}

		&.is-active {
			color: #58595b;
		}

		@media (any-hover: hover) {
			&:hover {
				color: #58595B;
			}
		}
	}

	// breadcrumbs variant
	&[data-variant="breadcrumbs"] {
		display: block;
		padding-top: rem(20);
		padding-bottom: rem(40);

		@media (min-width: $md6) {
			padding-top: rem(22);
			padding-bottom: rem(48);
		}

		@media (min-width: $md1) {
			padding-top: rem(27);
			padding-bottom: rem(87);
		}

		.sticky-navbar__inner {
			align-items: flex-end;
		}

		.lang-switcher {
			color: $color-white;
		}
	}

	// .sticky-navbar__breadcrumbs
	&__breadcrumbs {
		flex: 1 1 auto;
		min-width: 0;
		font-family: $font-robert;
		font-weight: 500;
		font-size: rem(15);
		line-height: math.div(13, 15);
		color: $color-white;

		@media (min-width: $md3) {
			font-size: rem(18);
			line-height: math.div(14, 18);
		}

		@media (min-width: $md2) {
			font-size: rem(21);
			line-height: math.div(15, 21);
		}

		@media (min-width: $md1) {
			font-size: rem(26);
			line-height: math.div(19, 26);
		}

		.breadcrumbs__link {
			color: inherit;
			text-decoration: none;
		}

		.breadcrumbs__current {
			color: inherit;
		}
	}

	&.is-scrolled[data-variant="breadcrumbs"] {
		.sticky-navbar__breadcrumbs {
			color: $color-black;
		}

		.sticky-navbar__breadcrumbs .breadcrumbs__link {
			color: $color-black;
		}

		.lang-switcher {
			color: $color-black;
		}
	}

	&.is-scrolled[data-variant="nav"] {
		.sticky-navbar__nav-link {
			color: $color-black;

			@media (any-hover: hover) {
				&:hover {
					color: #58595b;
				}
			}
		}
	}
}