@use "sass:math";
@use "../variables" as *;
@use "../mixins" as *;

.page-hero {
	position: relative;
	overflow: hidden;
	min-height: rem(380);
	color: $color-white;
	background: $color-text-muted;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;

	@media (min-width: $md6) {
		min-height: rem(560);
	}

	@media (min-width: $md5) {
		min-height: rem(624);
	}

	@media (min-width: $md4) {
		min-height: rem(700);
	}

	@media (min-width: $md3) {
		min-height: rem(820);
	}

	@media (min-width: $md2) {
		min-height: rem(900);
	}

	@media (min-width: $md1) {
		min-height: rem(1100);
	}

	// page-hero__media
	&__media {
		position: absolute;
		inset: 0;
		z-index: 0;
		pointer-events: none;
	}

	// page-hero__img
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center top;
	}

	// page-hero__inner
	&__inner {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		min-height: inherit;
		padding-top: rem(20);
		padding-bottom: rem(50);
		box-sizing: border-box;

		@media (min-width: $md6) {
			padding-top: rem(22);
			padding-bottom: rem(70);
		}

		@media (min-width: $md1) {
			padding-top: rem(28);
			padding-bottom: rem(90);
		}
	}

	// page-hero__top
	&__top {
		display: none;
		align-items: flex-start;
		justify-content: space-between;
		gap: rem(24);
		margin-bottom: rem(16);

		@media (min-width: $md6) {
			display: flex;
			margin-bottom: rem(20);
		}
	}

	// page-hero__nav
	&__nav {
		display: flex;
		flex: 1 1 auto;
		gap: rem(76);
		min-width: 0;
	}

	// page-hero__nav-link
	&__nav-link {
		flex: 1 1 0;
		min-width: 0;
		font-family: $font-robert;
		font-weight: 500;
		font-size: rem(15);
		line-height: math.div(13, 15);
		color: $color-black;
		transition: color 100ms ease-in-out;

		@media (min-width: $md3) {
			font-size: rem(18);
			line-height: math.div(14, 18);
		}

		@media (min-width: $md2) {
			font-size: rem(21);
			line-height: math.div(15, 21);
		}

		@media (min-width: $md1) {
			font-size: rem(25);
			line-height: math.div(19, 25);
		}

		&.is-active {
			color: #58595B;
		}

		@media (any-hover: hover) {
			&:hover {
				color: #58595B;
			}
		}
	}

	// page-hero__lang
	&__lang {
		flex: 0 0 auto;
		font-family: $font-family;
		font-weight: 700;
		font-size: rem(15);
		line-height: math.div(13, 15);
		color: $color-black;
		text-transform: lowercase;
		text-align: right;

		@media (min-width: $md3) {
			font-size: rem(18);
			line-height: math.div(14, 18);
		}

		@media (min-width: $md2) {
			font-size: rem(21);
			line-height: math.div(15, 21);
		}

		@media (min-width: $md1) {
			font-size: rem(25);
			line-height: math.div(19, 25);
		}
	}

	// page-hero__tagline
	&__tagline {
		max-width: rem(322);
		margin-top: rem(0);
		font-family: $font-family;
		font-weight: 700;
		font-size: rem(18);
		line-height: math.div(22, 18);
		color: $color-white;

		@media (min-width: $md6) {
			align-self: flex-end;
			max-width: 48%;
			margin-top: rem(8);
			font-size: rem(22);
			line-height: math.div(26, 22);
		}

		@media (min-width: $md5) {
			font-size: rem(24);
			line-height: math.div(28, 24);
		}

		@media (min-width: $md3) {
			font-size: rem(28);
			line-height: math.div(34, 28);
		}

		@media (min-width: $md2) {
			font-size: rem(32);
			line-height: math.div(38, 32);
		}

		@media (min-width: $md1) {
			margin-top: rem(50);
			max-width: rem(945);
			font-size: rem(42);
			line-height: math.div(50, 42);
		}

		// page-hero__tagline--dark
		&--dark {
			color: $color-black;
		}
	}

	// page-hero__title
	&__title {
		margin-top: auto;
		padding-top: rem(80);
		font-family: $font-family;
		font-weight: 400;
		font-size: rem(72);
		line-height: math.div(61, 72);
		color: $color-white;


		@media (min-width: $md6) {
			padding-top: rem(120);
			font-size: rem(120);
			line-height: math.div(100, 120);
		}

		@media (min-width: $md5) {
			font-size: rem(140);
			line-height: math.div(110, 140);
		}

		@media (min-width: $md4) {
			font-size: rem(160);
			line-height: math.div(120, 160);
		}

		@media (min-width: $md3) {
			font-size: rem(180);
			line-height: math.div(130, 180);
		}

		@media (min-width: $md2) {
			font-size: rem(220);
			line-height: math.div(160, 220);
		}

		@media (min-width: $md1) {
			padding-top: rem(160);
			font-size: rem(298);
			line-height: math.div(215, 298);
			margin-left: em(-12, 298);

		}
	}
}

.section-about-overview {
	padding-top: rem(30);
	padding-bottom: rem(40);

	@media (min-width: $md6) {
		padding-top: rem(40);
		padding-bottom: rem(50);
	}

	@media (min-width: $md1) {
		padding-top: rem(95);
		padding-bottom: rem(70);
	}

	// section-about-overview__layout
	&__layout {
		--gutter-x: #{rem(24)};
		--gutter-y: #{rem(16)};

		@media (min-width: $md6) {
			--gutter-y: #{rem(20)};
			align-items: start;
		}

		@media (min-width: $md3) {
			--gutter-y: #{rem(24)};
		}

		@media (min-width: $md1) {
			--gutter-y: #{rem(36)};
		}
	}

	// section-about-overview__title
	&__title {
		min-width: 0;
	}

	// section-about-overview__subtitle
	&__subtitle {
		margin-top: rem(24);
		min-width: 0;
		font-family: $font-robert;
		font-weight: 700;
		font-style: italic;
		font-size: rem(18);
		line-height: math.div(18, 18);
		color: $color-black;

		@media (min-width: $md6) {
			margin-top: 0;
			font-size: rem(22);
			line-height: math.div(20, 22);
		}

		@media (min-width: $md3) {
			font-size: rem(28);
			line-height: math.div(25, 28);
		}

		@media (min-width: $md1) {
			font-size: rem(36);
			line-height: math.div(34, 36);
		}
	}

	// section-about-overview__intro
	&__intro {
		margin-top: rem(16);
		min-width: 0;
		font-family: $font-family;
		font-weight: 400;
		font-size: rem(15);
		line-height: math.div(18, 15);
		color: $color-black;

		@media (min-width: $md6) {
			margin-top: rem(20);
		}

		@media (min-width: $md3) {
			margin-top: rem(24);
			font-size: rem(18);
			line-height: math.div(21, 18);
		}

		@media (min-width: $md2) {
			font-size: rem(21);
			line-height: math.div(24, 21);
		}

		@media (min-width: $md1) {
			margin-top: rem(36);
			font-size: rem(26);
			line-height: math.div(32, 26);
		}
	}

	// section-about-overview__features
	&__features {
		margin-top: rem(16);
		min-width: 0;

		@media (min-width: $md6) {
			margin-top: rem(20);
		}

		@media (min-width: $md3) {
			margin-top: rem(24);
		}

		@media (min-width: $md1) {
			margin-top: rem(32);
		}
	}
}

.section-about-goal {
	padding-top: rem(20);
	padding-bottom: rem(50);

	@media (min-width: $md6) {
		padding-top: rem(30);
		padding-bottom: rem(70);
	}

	@media (min-width: $md1) {
		padding-top: rem(40);
		padding-bottom: rem(68);
	}

	// section-about-goal__layout
	&__layout {
		--gutter-x: #{rem(24)};
		--gutter-y: #{rem(24)};
	}

	// section-about-goal__title
	&__title {
		margin-bottom: rem(16);

		@media (min-width: $md6) {
			margin-bottom: rem(24);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(36);
		}
	}

	// section-about-goal__text
	&__text {
		min-width: 0;
		font-family: $font-family;
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(20, 16);
		color: $color-black;

		@media (min-width: $md3) {
			font-size: rem(20);
			line-height: math.div(24, 20);
		}

		@media (min-width: $md2) {
			font-size: rem(24);
			line-height: math.div(28, 24);
		}

		@media (min-width: $md1) {
			font-size: rem(28);
			line-height: math.div(34, 28);
		}

		p+p {
			margin-top: rem(0);
		}
	}

	// section-about-goal__media
	&__media {
		position: relative;
		overflow: hidden;
		aspect-ratio: 692 / 377;
		background-color: $color-placeholder;
	}

	// section-about-goal__img
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.section-about-stats {
	background-color: $color-muted;
	color: $color-white;

	// section-about-stats__inner
	&__inner {
		padding-top: rem(30);
		padding-bottom: rem(40);

		@media (min-width: $md6) {
			padding-top: rem(50);
			padding-bottom: rem(50);
		}

		@media (min-width: $md1) {
			padding-top: rem(80);
			padding-bottom: rem(80);
		}
	}

	// section-about-stats__title
	&__title {
		margin-bottom: rem(16);

		@media (min-width: $md6) {
			margin-bottom: rem(20);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(36);
		}
	}

	// section-about-stats__intro
	&__intro {
		--gutter-x: #{rem(24)};
		--gutter-y: #{rem(20)};
		margin-bottom: rem(30);

		@media (min-width: $md6) {
			margin-bottom: rem(40);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(90);
		}
	}

	// section-about-stats__text
	&__text {
		min-width: 0;
		font-family: $font-family;
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(20, 16);
		color: $color-white;

		@media (min-width: $md3) {
			font-size: rem(20);
			line-height: math.div(24, 20);
		}

		@media (min-width: $md2) {
			font-size: rem(24);
			line-height: math.div(28, 24);
		}

		@media (min-width: $md1) {
			font-size: rem(28);
			line-height: math.div(34, 28);
		}

		p+p {
			margin-top: rem(0);
		}
	}

	// section-about-stats__accent
	&__accent {
		min-width: 0;
		font-family: $font-robert;
		font-weight: 400;
		font-size: rem(15);
		line-height: math.div(18, 15);
		color: $color-black;

		@media (min-width: $md3) {
			font-size: rem(18);
			line-height: math.div(21, 18);
		}

		@media (min-width: $md2) {
			font-size: rem(22);
			line-height: math.div(24, 22);
		}

		@media (min-width: $md1) {
			font-size: rem(27);
			line-height: math.div(29, 27);
		}
	}

	// section-about-stats__grid
	&__grid {
		--gutter-x: #{rem(24)};
		--gutter-y: #{rem(24)};
	}

	// section-about-stats__value
	&__value {
		font-family: $font-family;
		font-weight: 400;
		font-size: rem(48);
		line-height: math.div(40, 48);
		color: $color-white;

		@media (min-width: $md6) {
			font-size: rem(64);
			line-height: math.div(52, 64);
		}

		@media (min-width: $md5) {
			font-size: rem(72);
			line-height: math.div(58, 72);
		}

		@media (min-width: $md3) {
			font-size: rem(88);
			line-height: math.div(70, 88);
		}

		@media (min-width: $md2) {
			font-size: rem(100);
			line-height: math.div(78, 100);
		}

		@media (min-width: $md1) {
			font-size: rem(120);
			line-height: math.div(83, 120);
		}
	}

	// section-about-stats__label
	&__label {
		margin-top: rem(12);
		font-family: $font-robert;
		font-weight: 500;
		font-size: rem(16);
		line-height: math.div(18, 16);
		color: $color-white;

		@media (min-width: $md6) {
			margin-top: rem(20);
			font-size: rem(20);
			line-height: math.div(18, 20);
		}

		@media (min-width: $md3) {
			margin-top: rem(30);
			font-size: rem(26);
			line-height: math.div(22, 26);
		}

		@media (min-width: $md1) {
			margin-top: rem(50);
			font-size: rem(36);
			line-height: math.div(25, 36);
		}
	}
}

.section-about-solutions {
	padding-top: rem(40);
	padding-bottom: rem(50);

	@media (min-width: $md6) {
		padding-top: rem(50);
		padding-bottom: rem(60);
	}

	@media (min-width: $md1) {
		padding-top: rem(110);
		padding-bottom: rem(110);
	}

	// section-about-solutions__lead
	&__lead {
		max-width: rem(945);
		margin-bottom: rem(30);
		font-family: $font-family;
		font-weight: 400;
		font-size: rem(16);
		line-height: math.div(20, 16);
		color: $color-black;

		@media (min-width: $md6) {
			margin-bottom: rem(40);
			font-size: rem(20);
			line-height: math.div(24, 20);
		}

		@media (min-width: $md3) {
			font-size: rem(24);
			line-height: math.div(28, 24);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(70);
			font-size: rem(30);
			line-height: math.div(36, 30);
		}
	}

	// section-about-solutions__grid
	&__grid {
		--gutter-x: #{rem(24)};
		--gutter-y: #{rem(30)};
	}

	// section-about-solutions__item
	&__item {
		min-width: 0;
	}

	// section-about-solutions__media
	&__media {
		overflow: hidden;
		aspect-ratio: 322 / 214;
		background-color: $color-placeholder;
	}

	// section-about-solutions__img
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// section-about-solutions__caption
	&__caption {
		margin-top: rem(16);
		font-family: $font-robert;
		font-weight: 500;
		font-size: rem(20);
		line-height: math.div(22, 20);
		color: $color-black;

		@media (min-width: $md6) {
			margin-top: rem(20);
			font-size: rem(22);
			line-height: math.div(24, 22);
		}

		@media (min-width: $md3) {
			font-size: rem(28);
			line-height: math.div(30, 28);
		}

		@media (min-width: $md1) {
			margin-top: rem(20);
			font-size: rem(36);
			line-height: math.div(38, 36);
		}
	}
}