@use "../variables" as *;
@use "../mixins" as *;

.careers-team {
	padding-top: rem(50);
	padding-bottom: rem(50);

	@media (min-width: $md6) {
		padding-top: rem(32);
		padding-bottom: rem(38);
	}

	@media (min-width: $md4) {
		padding-bottom: rem(44);
	}

	@media (min-width: $md3) {
		padding-top: rem(50);
		padding-bottom: rem(64);
	}

	@media (min-width: $md2) {
		padding-bottom: rem(88);
	}

	@media (min-width: $md1) {
		padding-top: rem(90);
		padding-bottom: rem(110);
	}

	// careers-team__title
	&__title {
		margin-bottom: rem(15);

		@media (min-width: $md4) {
			margin-bottom: rem(20);
		}

		@media (min-width: $md3) {
			margin-bottom: rem(24);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(32);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(36);
		}
	}

	// careers-team__grid
	&__grid {
		--gutter-x: #{rem(24)};
		--gutter-y: #{rem(24)};

		@media (min-width: $md6) {
			--gutter-y: #{rem(0)};
		}
	}
}