@use "sass:math";
@use "../variables" as *;
@use "../mixins" as *;

.careers-team {
	padding-top: rem(50);
	padding-bottom: rem(50);

	@media (min-width: $md6) {
		padding-top: rem(70);
		padding-bottom: rem(70);
	}

	@media (min-width: $md3) {
		padding-top: rem(80);
		padding-bottom: rem(90);
	}

	@media (min-width: $md2) {
		padding-top: rem(90);
		padding-bottom: rem(100);
	}

	@media (min-width: $md1) {
		padding-top: rem(90);
		padding-bottom: rem(110);
	}

	// careers-team__title
	&__title {
		margin-bottom: rem(30);

		@media (min-width: $md3) {
			margin-bottom: rem(40);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(50);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(70);
		}
	}

	// careers-team__grid
	&__grid {
		--gutter-x: #{rem(24)};
		--gutter-y: #{rem(24)};

		@media (min-width: $md6) {
			--gutter-y: #{rem(0)};
		}
	}

	// careers-team__text
	&__text {
		min-width: 0;
		color: $color-black;

		// careers-team__text--secondary
		&--secondary {
			font-family: $font-robert;
			font-weight: 400;
			font-size: rem(16);
			line-height: math.div(18, 16);

			@media (min-width: $md3) {
				font-size: rem(19);
				line-height: math.div(21, 19);
			}

			@media (min-width: $md2) {
				font-size: rem(22);
				line-height: math.div(24, 22);
			}

			@media (min-width: $md1) {
				font-size: rem(27);
				line-height: math.div(29, 27);
			}
		}
	}
}
