@use "../variables" as *;
@use "../mixins" as *;

.section-contacts-representative {
	padding-top: rem(50);
	padding-bottom: rem(0);

	@media (min-width: $md6) {
		padding-top: rem(70);
	}

	@media (min-width: $md3) {
		padding-top: rem(90);
	}

	@media (min-width: $md2) {
		padding-top: rem(100);
	}

	@media (min-width: $md1) {
		padding-top: rem(110);
	}

	// section-contacts-representative__title
	&__title {
		margin-bottom: rem(24);

		@media (min-width: $md6) {
			margin-bottom: rem(30);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(36);
		}
	}

	// section-contacts-representative__map
	&__map {
		overflow: hidden;
		width: 100%;
		aspect-ratio: 1914 / 650;
		background-color: $color-placeholder;
	}

	// section-contacts-representative__img
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center bottom;
	}
}