@use "sass:math";
@use "../variables" as *;
@use "../mixins" as *;

.overview {
	padding-top: 0;

	@media (min-width: $md6) {
		padding-top: rem(18);
	}

	@media (min-width: $md3) {
		padding-top: rem(22);
	}

	// overview__lang
	&__lang {
		display: none;
		margin-bottom: rem(10);
		font-family: $font-family;
		font-weight: 700;
		font-size: rem(15);
		line-height: math.div(12, 15);
		color: $color-black;
		text-align: right;
		text-transform: lowercase;

		@media (min-width: $md6) {
			display: block;
		}

		@media (min-width: $md3) {
			margin-bottom: rem(12);
			font-size: rem(18);
			line-height: math.div(14, 18);
		}

		@media (min-width: $md2) {
			font-size: rem(21);
			line-height: math.div(15, 21);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(50);
			font-size: rem(25);
			line-height: math.div(19, 25);
		}
	}

	// overview__layout
	&__layout {
		// uses grid.scss .row
		--gutter-x: 24px;
		--gutter-y: #{rem(16)};

		@media (min-width: $md6) {
			--gutter-y: 0;
			align-items: start;
		}
	}

	// overview__title
	&__title {}

	// overview__intro
	&__intro {
		margin-top: rem(15);

		@media (min-width: $md6) {
			margin-top: rem(16);
		}

		@media (min-width: $md3) {
			margin-top: rem(24);
		}

		@media (min-width: $md2) {
			margin-top: rem(30);
		}

		@media (min-width: $md1) {
			margin-top: rem(36);
		}
	}

	// overview__subtitle
	&__subtitle {
		margin-top: rem(30);

		@media (min-width: $md6) {
			margin-top: 0;
		}
	}

	// overview__features
	&__features {
		margin-top: rem(16);

		@media (min-width: $md3) {
			margin-top: rem(24);
		}

		@media (min-width: $md2) {
			margin-top: rem(30);
		}

		@media (min-width: $md1) {
			margin-top: rem(36);
		}
	}

	// overview__more
	&__more {
		margin-top: rem(30);

		@media (min-width: $md6) {
			margin-top: rem(24);
		}

		@media (min-width: $md3) {
			margin-top: rem(40);
		}

		@media (min-width: $md2) {
			margin-top: rem(50);
		}

		@media (min-width: $md1) {
			margin-top: rem(70);
		}
	}
}

.products {
	padding-top: rem(50);

	@media (min-width: $md6) {
		padding-top: rem(70);
	}

	@media (min-width: $md4) {
		padding-top: rem(90);
	}

	@media (min-width: $md3) {
		padding-top: rem(100);
	}

	@media (min-width: $md2) {
		padding-top: rem(120);
	}

	@media (min-width: $md1) {
		padding-top: rem(170);
	}

	// products__title
	&__title {
		margin-bottom: rem(20);

		@media (min-width: $md3) {
			margin-bottom: rem(24);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(30);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(36);
		}
	}

	// products__lead
	&__lead {
		max-width: rem(322);
		margin-bottom: rem(30);

		@media (min-width: $md6) {
			max-width: rem(318);
		}

		@media (min-width: $md5) {
			max-width: rem(378);
		}

		@media (min-width: $md4) {
			max-width: rem(408);
		}

		@media (min-width: $md3) {
			max-width: rem(528);
			margin-bottom: rem(40);
		}

		@media (min-width: $md2) {
			max-width: rem(672);
			margin-bottom: rem(70);
		}

		@media (min-width: $md1) {
			max-width: rem(945);
		}
	}

	// products__grid
	&__grid {
		// uses grid.scss .row
		--gutter-x: #{rem(24)};
		--gutter-y: #{rem(30)};
		margin-bottom: rem(30);

		@media (min-width: $md6) {
			--gutter-y: #{rem(0)};
		}

		@media (min-width: $md3) {
			margin-bottom: rem(40);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(50);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(70);
		}
	}

	// products__more
	&__more {
		margin-bottom: rem(50);

		@media (min-width: $md6) {
			margin-bottom: rem(70);
		}

		@media (min-width: $md4) {
			margin-bottom: rem(90);
		}

		@media (min-width: $md3) {
			margin-bottom: rem(100);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(110);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(170);
		}
	}
}

.vacancies {
	background-color: $color-muted;
	color: $color-white;
	padding-bottom: rem(30);
	padding-top: rem(36);

	@media (min-width:$md6) {
		padding-top: rem(30);

	}

	@media (min-width: $md3) {
		padding-top: rem(40);
		padding-bottom: rem(40);
	}

	@media (min-width: $md2) {
		padding-top: rem(50);
		padding-bottom: rem(50);
	}

	@media (min-width: $md1) {
		padding-top: rem(70);
		padding-bottom: rem(74);
	}

	// vacancies__title
	&__title {
		margin-bottom: rem(44);

		@media (min-width:$md6) {
			margin-bottom: rem(40);
		}

		@media (min-width: $md3) {
			margin-bottom: rem(44);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(60);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(84);
		}
	}

	.vacancies-slider {
		overflow: hidden;
	}

	.swiper-slide {
		height: auto;
		box-sizing: border-box;

		@media (min-width:$md6) {
			min-height: rem(52);
		}

		@media (min-width:$md4) {
			min-height: rem(55);
		}

		@media (min-width:$md3) {
			min-height: rem(76);
		}

		@media (min-width:$md2) {
			min-height: rem(94);

		}

		@media (min-width:$md1) {
			min-height: rem(133);

		}
	}

	// vacancies__nav
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: rem(40);

		@media (min-width:$md6) {
			margin-top: rem(30);
		}

		@media (min-width:$md5) {
			margin-top: rem(28);
		}

		@media (min-width: $md4) {
			margin-top: rem(20);
		}

		@media (min-width: $md3) {
			margin-top: rem(24);
		}

		@media (min-width: $md2) {
			margin-top: rem(24);
		}

		@media (min-width: $md1) {
			margin-top: rem(20);
		}
	}
}

.news {
	padding-top: rem(50);

	@media (min-width: $md6) {
		padding-top: rem(70);
	}

	@media (min-width: $md4) {
		padding-top: rem(90);
	}

	@media (min-width: $md3) {
		padding-top: rem(100);
	}

	@media (min-width: $md2) {
		padding-top: rem(120);
	}

	@media (min-width: $md1) {
		padding-top: rem(170);
	}

	// news__title
	&__title {
		margin-bottom: rem(20);

		@media (min-width: $md3) {
			margin-bottom: rem(24);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(30);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(36);
		}
	}

	// news__lead
	&__lead {
		max-width: rem(322);
		margin-bottom: rem(20);

		@media (min-width: $md6) {
			max-width: rem(318);
		}

		@media (min-width: $md5) {
			max-width: rem(378);
		}

		@media (min-width: $md4) {
			max-width: rem(408);
		}

		@media (min-width: $md3) {
			max-width: rem(528);
			margin-bottom: rem(24);
		}

		@media (min-width: $md2) {
			max-width: rem(672);
			margin-bottom: rem(30);
		}

		@media (min-width: $md1) {
			max-width: rem(945);
			margin-bottom: rem(36);
		}
	}

	// news__grid
	&__grid {
		// uses grid.scss .row
		--gutter-x: #{rem(24)};
		--gutter-y: #{rem(0)};
		margin-bottom: rem(30);

		@media (min-width: $md3) {
			margin-bottom: rem(40);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(50);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(70);
		}
	}

	// news__item--desktop
	&__item--desktop {
		display: none;

		@media (min-width: $md6) {
			display: block;
		}
	}

	// news__more
	&__more {
		margin-bottom: rem(50);

		@media (min-width: $md6) {
			margin-bottom: rem(70);
		}

		@media (min-width: $md4) {
			margin-bottom: rem(90);
		}

		@media (min-width: $md3) {
			margin-bottom: rem(100);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(110);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(170);
		}
	}
}

.info {
	padding-top: rem(30);
	padding-bottom: rem(25);

	@media (min-width: $md6) {
		padding-top: rem(30);
	}

	@media (min-width: $md4) {
		padding-top: rem(30);

	}

	@media (min-width: $md3) {
		padding-top: rem(52);
		padding-bottom: rem(35);
	}

	@media (min-width: $md2) {
		padding-top: rem(50);
		padding-bottom: rem(45);
	}

	@media (min-width: $md1) {
		padding-top: rem(92);
		padding-bottom: rem(55);
	}

	// info__title
	&__title {
		margin-bottom: rem(20);

		@media (min-width: $md4) {
			margin-bottom: rem(16);
		}

		@media (min-width: $md3) {
			margin-bottom: rem(24);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(30);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(36);
		}
	}

	// info__grid
	&__grid {
		--gutter-x: #{rem(24)};
		--gutter-y: #{rem(26)};


		@media (min-width: $md6) {
			--gutter-y: #{rem(0)};
		}
	}

	// info__list
	&__list {
		font-family: $font-family;
		gap: rem(0);

		>li {
			&:has(br)::before {
				bottom: rem(5);

				@media (min-width:$md1) {
					bottom: rem(8);
				}
			}

			&:has(address)::before {
				bottom: rem(4);

				@media (min-width:$md1) {
					bottom: rem(8);
				}
			}
		}

		--marker-size: #{rem(11)};
		--marker-gap: #{rem(12)};
		--marker-col: #{rem(56)};

		font-size: rem(15);
		line-height: math.div(18, 15);

		@media (min-width:$md3) {
			--marker-size: #{rem(13)};
			--marker-gap: #{rem(14)};
			--marker-col: #{rem(63)};
			gap: rem(0);
			font-size: rem(18);
			line-height: math.div(21, 18);
		}

		@media (min-width:$md2) {
			--marker-size: #{rem(16)};
			--marker-gap: #{rem(16)};
			--marker-col: #{rem(74)};
			font-size: rem(21);
			line-height: math.div(24, 21);
		}

		@media (min-width:$md1) {
			--marker-size: #{rem(18)};
			--marker-gap: #{rem(18)};
			--marker-col: #{rem(94)};
			--marker-offset: #{rem(4)};
			font-size: rem(26);
			line-height: math.div(32, 26);
		}
	}

}

.contact {
	padding-top: rem(50);
	padding-bottom: rem(48);

	@media (min-width: $md6) {
		padding-top: rem(50);
		padding-bottom: rem(44);
	}

	@media (min-width: $md3) {
		padding-top: rem(70);
		padding-bottom: rem(58);
	}

	@media (min-width: $md2) {
		padding-top: rem(90);
		padding-bottom: rem(50);
	}

	@media (min-width: $md1) {
		padding-top: rem(114);
		padding-bottom: rem(68);
	}

	// contact__title
	&__title {
		margin-bottom: rem(30);
		max-width: rem(322);

		@media (min-width: $md6) {
			max-width: rem(318);
		}

		@media (min-width: $md5) {
			max-width: rem(378);
		}

		@media (min-width: $md3) {
			margin-bottom: rem(40);
			max-width: rem(436);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(50);
			max-width: rem(556);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(70);
			max-width: rem(784);
		}
	}
}