@use "sass:math";
@use "../variables" as *;
@use "../mixins" as *;

.search-card {
	display: flex;
	flex-direction: column;
	gap: rem(12);
	color: inherit;

	@media (min-width: $md6) {
		gap: rem(16);
	}

	@media (min-width: $md3) {
		gap: rem(16);
	}

	@media (min-width: $md1) {
		gap: rem(24);
	}

	@media (any-hover: hover) {
		&:hover {
			.search-card__title {
				color: $color-white;
			}
		}
	}

	// search-card__title
	&__title {
		transition: color 0.1s ease-in-out;
		color: $color-muted;
	}

	// search-card__excerpt
	&__excerpt {
		color: $color-white;
	}
}