@use "sass:math";
@use "variables" as *;
@use "mixins" as *;

.site-sidebar {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	width: rem($sidebar-width);
	height: 100vh;
	padding: rem(13) rem(12);
	background-color: $color-black;
	color: $color-white;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: width 0.35s ease;

	@media (min-width: $md6) {
		width: rem($sidebar-width-768);
		padding: rem(13) rem(13);
	}

	@media (min-width: $md5) {
		width: rem($sidebar-width-1024);
		padding: rem(18) rem(18);
	}

	@media (min-width: $md4) {
		justify-content: space-between;
		width: rem($sidebar-width-1200);
		padding: rem(17) rem(20) rem(18);
	}

	@media (min-width: $md1) {
		width: rem($sidebar-width-2560);
		padding: rem(16) rem(20) rem(18);
	}

	&.is-open {
		justify-content: space-between;
		width: rem($sidebar-width-1200);

		.site-sidebar__nav {
			display: block;
		}

		@media (min-width: $md1) {
			width: rem($sidebar-width-2560);
		}
	}

	&.is-collapsed {
		justify-content: flex-end;
		width: rem($sidebar-width);

		.site-sidebar__logo {
			@media (min-width: $md1) {
				width: rem(54);
			}
		}

		.site-sidebar__nav {
			display: none;
		}

		@media (min-width: $md6) {
			width: rem($sidebar-width-768);
		}

		@media (min-width: $md5) {
			width: rem($sidebar-width-1024);
		}

		@media (min-width: $md1) {
			width: rem(88);
		}
	}

	// site-sidebar__nav
	&__nav {
		display: none;
		flex: 0 0 auto;

		@media (min-width: $md4) {
			display: block;
		}
	}

	// site-sidebar__menu
	&__menu {
		display: flex;
		flex-direction: column;
		gap: rem(11);
		align-items: flex-start;
	}

	// site-sidebar__menu a,
	// site-sidebar__link
	&__menu a,
	&__link {
		position: relative;
		display: block;
		font-family: $font-family;
		font-weight: 700;
		font-size: rem(18);
		line-height: math.div(24, 18);
		color: $color-white;
		white-space: nowrap;
		@media (min-width: $md1) {
			font-size: rem(21);
		}

		span {
			transition: opacity $nav-link-hover-motion;
		}

		&::after {
			content: attr(data-title);
			position: absolute;
			left: 0;
			top: 0;
			font-family: $font-reduct;
			opacity: 0;
			pointer-events: none;
			transition: opacity $nav-link-hover-motion;
		}

		@media (any-hover: hover) {
			&:hover {
				span {
					opacity: 0;
				}

				&::after {
					opacity: 1;
				}
			}
		}

		&.is-active {
			span {
				opacity: 0;
			}

			&::after {
				opacity: 1;
			}
		}
	}

	// site-sidebar__logo
	&__logo {
		display: block;
		flex-shrink: 0;
		overflow: hidden;
		width: rem(193);
		height: auto;
		padding: 0;
		text-align: left;
		color: inherit;

		@media (min-width: $md1) {
			width: rem(234);
		}

		svg {
			display: block;
			width: rem(193);
			max-width: none;
			height: auto;

			@media (min-width: $md1) {
				width: rem(234);
			}
		}
	}
}
