@use "../variables" as *;
@use "../mixins" as *;

.utility {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding-bottom: rem(40);
	color: $color-white;

	@media (min-width: $md6) {
		padding-bottom: rem(50);
	}

	@media (min-width: $md1) {
		padding-bottom: rem(70);
	}

	// utility__title 
	&__title {
		margin-bottom: rem(12);


		@media (min-width: $md2) {
			margin-bottom: rem(32);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(24);
		}
	}

	// utility__text
	&__text {
		margin-bottom: rem(24);


		@media (min-width: $md3) {
			margin-bottom: rem(36);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(44);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(64);
		}
	}

	// utility__link
	&__link {}

	// utility__form
	&__form {
		margin-bottom: rem(24);

		@media (min-width: $md6) {
			margin-bottom: rem(32);
		}

		@media (min-width: $md3) {
			margin-bottom: rem(30);
		}

		@media (min-width:$md2) {
			margin-top: 3rem;
		}

		@media (min-width: $md1) {
			margin-top: 4.75rem;
			margin-bottom: rem(50);
		}
	}

	// utility__count
	&__count {
		margin-bottom: rem(48);

		@media (min-width: $md6) {
			margin-bottom: rem(64);
		}

		@media (min-width: $md3) {
			margin-bottom: rem(80);
		}

		@media (min-width: $md2) {
			margin-bottom: rem(86);
		}

		@media (min-width: $md1) {
			margin-bottom: rem(110);
		}

		strong {
			font-weight: 700;
		}
	}

	// utility__results
	&__results {
		--gutter-x: #{rem(24)};
		--gutter-y: #{rem(40)};

		@media (min-width: $md6) {
			--gutter-y: #{rem(50)};
		}

		@media (min-width: $md3) {
			--gutter-y: #{rem(70)};
		}

		@media (min-width: $md1) {
			--gutter-y: #{rem(90)};
		}
	}

	// utility__empty
	&__empty {
		color: $color-white;
	}

	// utility__content — policy prose
	&__content {
		color: $color-white;

		>*+* {
			margin-top: rem(16);

			@media (min-width: $md6) {
				margin-top: rem(20);
			}

			@media (min-width: $md1) {
				margin-top: rem(24);
			}
		}

		a {
			color: inherit;
			text-decoration: underline;
		}
	}
}