@use "sass:color";
@use "variables" as *;
@use "mixins" as *;

.container {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 100%;

	&.container--large {
		@media (min-width: $md3) {
			max-width: rem(1380);
		}
	}

	&.container--medium {
		@media (min-width: $md3) {
			max-width: rem(1300);
		}
	}

	@media (min-width: $md7) {
		box-sizing: content-box;
		max-width: rem(540);
	}

	@media (min-width: $md6) {
		max-width: rem(624);
	}

	@media (min-width: $md5) {
		max-width: rem(960);
	}

	@media (min-width: $md4) {
		max-width: rem(1140);
	}

	@media (min-width: $md3) {
		max-width: rem(1240);
	}
}

.content-rail {
	width: 100%;
	padding-left: 30px;
	padding-right: 28px;
	box-sizing: border-box;

	@media (min-width: $md6) {
		padding-left: 28px;
		padding-right: 28px;
	}

	@media (min-width: $md5) {
		padding-left: 138px;
		padding-right: 30px;
	}

	@media (min-width: $md4) {
		padding-left: 87px;
		padding-right: 39px;
	}

	@media (min-width: $md1) {
		padding-left: 93px;
		padding-right: 279px;
	}
}

.content-rail__inner {
	width: 100%;
	max-width: 322px;

	@media (min-width: $md6) {
		max-width: 660px;
	}

	@media (min-width: $md5) {
		max-width: 780px;
	}

	@media (min-width: $md4) {
		max-width: 840px;
	}

	@media (min-width: $md3) {
		max-width: 1080px;
	}

	@media (min-width: $md2) {
		max-width: 1368px;
	}

	@media (min-width: $md1) {
		max-width: 1914px;
	}
}

body {
	font-family: $font-family;
	color: $color-text;
	background-color: $color-bg;
	line-height: 1.3;
	font-size: rem(16);
	font-weight: 400;
}

.lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: clip;
}

.site-body {
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 0;

	@media (min-width: $md6) {
		margin-left: 52px;
	}

	@media (min-width: $md5) {
		margin-left: 76px;
	}

	@media (min-width: $md4) {
		margin-left: 234px;
	}

	@media (min-width: $md1) {
		margin-left: 274px;
	}
}

.main {
	flex: 1 1 auto;
	background: $color-white;

	&:not(.main--home):not(.main--about):not(.main--careers):not(.main--contacts):not(.main--error) {
		padding-top: rem(40);
	}

	// main--error
	&--error {
		display: flex;
		flex-direction: column;
		background: $color-footer;
		color: $color-white;
	}
}

.admin-bar .site-sidebar {
	top: 32px;
	height: calc(100vh - 32px);

	@media screen and (max-width: 782px) {
		top: 46px;
		height: calc(100vh - 46px);
	}
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text-nowrap {
	white-space: nowrap;
}

$scrollbarColor: $color-black;

::-webkit-scrollbar {
	width: rem(8);
}

::-webkit-scrollbar-track {
	background: $color-white;
}

::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);

	@media (any-hover: hover) {
		&:hover {
			background: color.adjust($color: $scrollbarColor, $lightness: -10%);
		}
	}
}

.screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.band-full {
	margin-left: -50px;
	width: calc(100% + 50px);
	box-sizing: border-box;

	@media (min-width: $md6) {
		margin-left: -52px;
		width: calc(100% + 52px);
	}

	@media (min-width: $md5) {
		margin-left: -76px;
		width: calc(100% + 76px);
	}

	@media (min-width: $md4) {
		margin-left: -234px;
		width: calc(100% + 234px);
	}

	@media (min-width: $md1) {
		margin-left: -274px;
		width: calc(100% + 274px);
	}
}

.band-full__inner {
	padding-left: calc(50px + 30px);
	padding-right: 28px;
	max-width: none;
	box-sizing: border-box;

	@media (min-width: $md6) {
		padding-left: calc(52px + 28px);
		padding-right: 28px;
	}

	@media (min-width: $md5) {
		padding-left: calc(76px + 138px);
		padding-right: 30px;
	}

	@media (min-width: $md4) {
		padding-left: calc(234px + 87px);
		padding-right: 39px;
	}

	@media (min-width: $md1) {
		padding-left: calc(274px + 93px);
		padding-right: 279px;
	}
}

.section-title {
	font-family: $font-family;
	font-weight: 700;
	font-size: rem(20);
	line-height: rem(14);
	color: $color-black;

	@media (min-width: $md6) {
		font-size: rem(26);
		line-height: rem(20);
	}

	@media (min-width: $md3) {
		font-size: rem(32);
		line-height: rem(25);
	}

	@media (min-width: $md2) {
		font-size: rem(36);
		line-height: rem(24);
	}

	@media (min-width: $md1) {
		font-size: rem(46);
		line-height: rem(32);
	}
}

.section-lead {
	font-family: $font-family;
	font-weight: 400;
	font-size: rem(15);
	line-height: rem(18);
	color: $color-black;

	@media (min-width: $md3) {
		font-size: rem(18);
		line-height: rem(21);
	}

	@media (min-width: $md2) {
		font-size: rem(21);
		line-height: rem(24);
	}

	@media (min-width: $md1) {
		font-size: rem(26);
		line-height: rem(32);
	}
}

.section-title--light {
	color: $color-white;
}

.text-accent {
	color: $color-black;
}
