@use "sass:math";
@use "variables" as *;
@use "mixins" as *;

.title {
	font-family: $font-family;
	font-weight: 700;
	font-size: rem(20);
	line-height: math.div(14, 20);

	@media (min-width: $md6) {
		font-size: rem(26);
		line-height: math.div(20, 26);
	}

	@media (min-width: $md3) {
		font-size: rem(32);
		line-height: math.div(25, 32);
	}

	@media (min-width: $md2) {
		font-size: rem(36);
		line-height: math.div(24, 36);
	}

	@media (min-width: $md1) {
		font-size: rem(46);
		line-height: math.div(32, 46);
	}
}

.subtitle {
	font-family: $font-robert;
	font-weight: 700;
	font-style: italic;
	font-size: rem(16);
	line-height: math.div(18, 18);

	@media (min-width: $md6) {
		font-size: rem(18);
	}

	@media (min-width:$md3) {
		font-size: rem(24);
		line-height: math.div(24, 16);
	}

	@media (min-width: $md2) {
		font-size: rem(28);
		line-height: math.div(25, 28);
	}

	@media (min-width: $md1) {
		font-size: rem(36);
		line-height: math.div(34, 36);
	}
}

.text-block {
	font-family: $font-family;
	font-weight: 400;
	font-size: rem(15);
	line-height: math.div(18, 15);

	@media (min-width: $md3) {
		font-size: rem(18);
		line-height: math.div(21, 18);
	}

	@media (min-width: $md2) {
		font-size: rem(21);
		line-height: math.div(24, 21);
	}

	@media (min-width: $md1) {
		font-size: rem(26);
		line-height: math.div(32, 26);
	}
}

.text-block-alternate {
	font-family: $font-robert;
	font-weight: 400;
	font-size: rem(14);
	line-height: math.div(16, 14);

	@media (min-width: $md3) {
		font-size: rem(17);
		line-height: math.div(19, 17);
	}

	@media (min-width: $md2) {
		font-size: rem(20);
		line-height: math.div(23, 20);
	}

	@media (min-width: $md1) {
		font-size: rem(27);
		line-height: math.div(29, 27);
	}
}

.text-accent {
	color: $color-black;
}

.feature-list {
	--marker-size: #{rem(8)};
	--marker-gap: #{rem(11)};
	--marker-col: #{rem(44)};
	--marker-offset: #{rem(3)};
	gap: rem(5);
	display: flex;
	flex-direction: column;
	font-family: $font-robert;
	font-weight: 400;
	font-size: rem(14);
	line-height: math.div(16, 14);

	@media (min-width:$md5) {
		gap: rem(8);
		--marker-col: #{rem(54)};
		--marker-size: #{rem(10)};
	}

	@media (min-width: $md3) {
		--marker-size: #{rem(12)};
		--marker-gap: #{rem(13)};
		--marker-col: #{rem(68)};
		gap: rem(8);
		font-size: rem(17);
		line-height: math.div(19, 17);
	}

	@media (min-width: $md2) {
		--marker-size: #{rem(15)};
		--marker-gap: #{rem(15)};
		--marker-col: #{rem(73)};
		font-size: rem(20);
		line-height: math.div(23, 20);
		gap: rem(4);
	}

	@media (min-width: $md1) {
		--marker-size: #{rem(19)};
		--marker-gap: #{rem(19)};
		--marker-col: #{rem(94)};
		--marker-offset: #{rem(4)};
		font-size: rem(27);
		line-height: math.div(29, 27);
		gap: rem(10);
	}

	a {
		color: inherit;
	}

	>li {
		position: relative;
		padding-left: calc(var(--marker-col) + var(--marker-gap));

		&::before {
			content: "";
			position: absolute;
			top: var(--marker-offset);
			left: calc(var(--marker-col) - var(--marker-size));
			width: var(--marker-size);
			height: var(--marker-size);
			background-color: currentColor;
		}

		&:has(br)::before {
			height: auto;
			bottom: 0;
		}

		&[data-label]::after {
			content: attr(data-label);
			position: absolute;
			top: 0;
			left: 0;
			max-width: calc(var(--marker-col) - var(--marker-size));
			overflow: hidden;
			font-family: $font-family;
			font-weight: 700;
			white-space: nowrap;
		}

		&[data-label-short]::after {
			content: attr(data-label-short);
		}

		@media (min-width: $md6) {
			&[data-label-short]::after {
				content: attr(data-label);
			}
		}
	}
}